/* Common */
:root
{
  --bool-dark: #000000;
  --bool-light: #8d8d8d;
  --bool-lighter: white;
  --bool-highlite: #00a2ff;
  --bool-primary: #3cff15;
  --bool-primary-light: #32e6ce;
  --bool-primary-lighter: #c3e9f5;

}

main
{
  width: 80%;
  margin: auto;
}