*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root
{
  --tb-page-bg: #f6f8f9;
  --tb-darker: #000000;
  --tb-lighter: white;
  --tb-light: #d0d6d9;
  --tb-primary: #47adf1;
  --tb-goals-bg: #9c72e4;
  --tb-recruiting-bg: #64c0a9;
  --tb-mobile-bg: #f29e33;
  --tb-website-bg: #d863a0;
  --tb-sales-bg: #b0c926;
  --tb-checkmark-bg: #70c6b2;
  --tb-cancel-bg: #ee675f;

}

body
{
  background-color: var(--tb-page-bg);
  font-family: Arial, Helvetica, sans-serif
}

/* Utilities */
.container
{
  width: 80%;
  max-width: 980px;
  margin: auto;
}

.card
{
  background-color: var(--tb-lighter);
  border-radius: 0.75rem;
  margin: 1rem 0;
}

.top,
.bottom
{
  padding-left: 3rem;

}

.top
{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--tb-page-bg);
}

.bottom
{
  padding-top: 2rem;
}


/* Buttons */
.btn
{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.btn-primary
{
  background-color: var(--tb-primary);
  color: var(--tb-lighter);
  border: 1px solid var(--tb-primary)
}

.btn-outline-light
{
  background-color: transparent;
  color: var(--tb-light);
  border: 2px solid var(--tb-light)
}

/* Debug */
.debug *
{
  border: 1px dashed;
}



/* Header */
#site_header
{
  background-color: var(--tb-lighter);
  padding: .5rem;
}

#logo_image
{
  vertical-align: middle;
}

#logo_text
{
  font-size: 2.5rem;
  vertical-align: middle;
  font-weight: 600;
}


/* Main */



/* Footer */