/* All rules outside the media query take effect on larger screens - DESKTOP FIRST */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  /*width: 800px;*/
  width: 80%;
  max-width: 400px;

  margin: auto;
  background-color: paleturquoise;
}

h1
{
  font-size: 1.5rem;
}



@media screen and (max-width: 1024px)
{

  /* Mobile screeen max 1024px */
  .container
  {
    background-color: black;
    color: red;
  }
}

@media screen and (max-width: 768px)
{

  /* Mobile screeen max 768px */
  .container
  {
    color: black;
    background-color: red;
  }
}


@media screen and (min-width: 600px) and (max-width: 800px)
{

  /* Mobile screeen max 1024px */
  .container
  {
    background-color: yellow;
    color: red;
  }
}